{% extends "base.html" %}
{% block content %}

{% if name %}
    <!-- <h1>Bonjour {{ name }}</h1> -->
    <h1>Update user</h1>
    <br><br><br>
    <table class="table table-hover table-bordered table-striped">
    
        
        {% for our_user in our_users %}
            <tr>
                <td>
                    {{ our_user.id }} - {{ our_user.name }} - {{ our_user.email }}
                </td> 
            </tr>
        {% endfor %}
            
        
    </table>
    <br>
{% else %}
    <h1>Update user</h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="/update/{{ name_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}

            {{ form.name(class="form-control", value=name_to_update.name) }}
            <br>

            {{ form.email.label(class="form-label") }}

            {{ form.email(class="form-control", value=name_to_update.email) }}
            <br>


            {{ form.submit(class="btn btn-secondary") }}

            <a href="{{ url_for('delete_user', id=id) }}" class="btn btn-danger">supprimer</a>
        </form>
    </div>

<br><br><br>




{% endif %}




{% endblock %}